.button {
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0.5rem;
  white-space: "pre-wrap";
}

.button.outline {
  background-color: #ffffff;
  border: 2px solid #007bff;
  color: #007bff;
}

.button.outline:hover {
  background-color: #e6f0ff;
}

.button.selected {
  background-color: #007bff;
  color: #ffffff;
}

.button.navigation-outline {
  background-color: #ffffff;
  border: 2px solid #20c997;
  color: #20c997
}

.button.navigation-outline:hover {
  background-color: #e0fff6;
}

.button.navigation-selected {
  background-color: #20c997;
  color: #ffffff;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
